<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome! </p>
    <p>This set-up is just a placeholder while some important things get configured!</p>
    <p>Please be patient as we get our wheels spinning!</p>
  </body>
</html>
