/*
 Global Styling
 */
h1 {
    color: white;
}

body {
    background-color: #686963;
    padding-top: 24px;
    font: calc(14px + 0.6vw) "News Cycle", sans-serif;
    min-font-size: 1em;
}

main {
    color: white;
    display: grid;
    grid-gap: 8px;
    grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
}

section {
    padding: 16px;
    grid-area: section;
}

header {
    padding: 16px;
    grid-area: header;
    border: 6px solid #CFD2B2;
}

nav {
    padding: 4px;
    grid-area: nav;
    border: 6px solid #8AA29E;
}

ul {
    padding-left: 0;
    text-align: center;
}

li {
    text-align: center;
    display: inline-block;
    padding: 4px;
}

footer {
    padding: 16px;
    grid-area: footer;
    text-align: center;
    color: white;
    border: 6px solid #DB5461;
}

.footer-icon-link {
    text-decoration: none;
}

.footer-icon {
    height: 48px;
    width: 48px;
}

/*
 Media-query Styling
 */

@media (min-width: 500px) {

    ul, li {
        padding: 12px;
        display: block;
    }

    .footer-icon {
        height: 64px;
        width: 64px;
    }

    main {
        grid-gap: 16px;
        grid-template-columns: 2fr 4fr;
        grid-template-areas:
                "header header"
                "nav section"
                "nav section"
                "nav section"
                "footer footer";
    }
}

@media (min-width: 900px) {
    main {
        grid-template-columns: 2fr 4fr 4fr;
        grid-template-areas:
                "nav header header"
                "nav section section"
                "nav section section"
                "nav section section"
                "footer footer footer";
    }
}
