/*
 Global HTML Elements
 */

body {
    background-color: lightslategray;
    font: 16px "Proxima Nova", Helvetica, Arial, sans-serif;
}

h1 {
    color: white;
}

/*
 Main Elements
 */

main {
    color: navajowhite;
    display: grid;
    grid-gap: 16px;
    grid-template-areas:
    "header"
    "nav"
    "section"
    "footer";
}

@media (min-width: 400px) {
    main {
        color: navajowhite;
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
                "header header"
                "nav section"
                "nav section"
                "footer footer";
    }
}

/*
 Section Elements
 */

section {
    padding: 16px;
    grid-area: section;
}

/*
 Header Elements
 */

header {
    padding: 16px;
    grid-area: header;
}

/*
 Nav Elements
 */

nav {
    padding: 16px;
    grid-area: nav;
}


/*
 Footer Elements & Sub-elements
 */

footer {
    padding: 16px;
    grid-area: footer;
    text-align: center;
    color: white;
    background-color: slategrey;
}

.footer-icon-link {
    text-decoration: none;
}

.footer-icon {
    height: 64px;
    width: 64px;
}